<% include ../../meta.ejs %>
<title>
	<%=title%>
</title>
</head>

<body>
	<!--头部-->
	<% include ../../modules/header.ejs %>
	<!--banner-->
	<div class="banner">
		<div class="recommend-t recommend-pos">
			<h2>聚势互联网+幼教 携手共赢未来</h2>
			<p>童忆园面向全国招募合伙人</p>
		</div>
		<img src="/dist/img/agentAlliance/agency_banner.png" width="100%" title="聚势互联网+幼教 携手共赢未来" alt="聚势互联网+幼教 携手共赢未来">
	</div>
	<!--瞄准中国广阔市场前景-->
	<div class="orientation-wrap">
		<h2 class="agen-h2">瞄准中国广阔市场前景</h2>
		<div class="orientation clearfix">
			<div class="item">
				<div class="img">
					<img src="/dist/img/agentAlliance/user.png" width="89" title="用户基数群体大" alt="用户基数群体大">
				</div>
				<div class="introduce">
					<h3>用户基数群体大</h3>
					<p>我国16岁以下少年儿童有3亿多,其中6岁以下1.17亿,7-16岁1.7亿,占全国人口的四分之一</p>
				</div>
			</div>
			<div class="item">
				<div class="img">
					<img class="consumption" src="/dist/img/agentAlliance/consumption.png" width="143" title="消费支出占比高" alt="消费支出占比高">
				</div>
				<div class="introduce">
					<h3>消费支出占比高</h3>
					<p>在”4+2+1”的家庭结构下，我国儿童消费支出占家庭总支出的比例在不断增加。</p>
				</div>
			</div>
			<div class="item">
				<div class="img">
					<img src="/dist/img/agentAlliance/market.png" width="115" title="市场份额增速快" alt="市场份额增速快">
				</div>
				<div class="introduce">
					<h3>市场份额增速快</h3>
					<p>目前,中国儿童总消费额超过4000亿人民币,并且以每年9%的速度快速增长。</p>
				</div>
			</div>
			<div class="item">
				<div class="img">
					<img src="/dist/img/agentAlliance/net.png" width="85" title="移动互联网的普及" alt="移动互联网的普及">
				</div>
				<div class="introduce">
					<h3>移动互联网的普及</h3>
					<p>工业和信息化部统计显示80、90后家长群体智能手机使用率达90%以上。</p>
				</div>
			</div>
		</div>
	</div>
	<!--四大优势-->
	<div class="advantage-wrap bgF3">
		<h2 class="agen-h2">四大优势让你放心加盟</h2>
		<div class="advantage clearfix">
			<div class="item clearfix">
				<div class="orderby">1</div>
				<div class="introduce">
					<h3>更强的行业积累</h3>
					<p>宇信行业深耕行业数十年,凭借优质的产品及服务体系,已于诸多行管机构、知名高校、实力名企等达成战略合作,为童忆园业务体系的推动,夯实了基础。</p>
				</div>
			</div>
			<div class="item clearfix two">
				<div class="orderby">2</div>
				<div class="introduce">
					<h3>更高的市场认可</h3>
					<p>由于产品洞察了家园共育的痛点,满足园长、老师和家长的全方位育儿需求,获得了市场的广泛认可和好评,市场占有率逐年大幅度提升</p>
				</div>
			</div>
			<div class="item clearfix">
				<div class="orderby">3</div>
				<div class="introduce">
					<h3>更专业的服务团队</h3>
					<p>童忆园旗下研发团队、运营团队、专家团队、营销团队、服务团队高效运转,让您短期内掌握有效方法,快速拓展新园，并及时解决园所使用过程中的任何问题</p>
				</div>
			</div>
			<div class="item clearfix four">
				<div class="orderby">4</div>
				<div class="introduce">
					<h3>更可靠的合作保障</h3>
					<p>无需代理费、无需预付款,只要你是学校管理者或投资人、幼教产品供应商或服务商、拥有学校资源即可与我们合作。</p>
				</div>
			</div>
		</div>
	</div>
	<!--合作流程-->
	<div class="cooperation-wrap">
		<h2 class="agen-h2">合作流程</h2>
		<div class="flow-wrap clearfix">
			<div class="item">
				<img src="/dist/img/agentAlliance/consult.png" width="120" title="咨询了解" alt="咨询了解">
				<div class="flow-name">咨询了解</div>
			</div>
			<img class="targ" src="/dist/img/agentAlliance/process.png" width="90" alt="乐贝通">
			<div class="item">
				<img src="/dist/img/agentAlliance/qualification.png" width="120" title="资质审核" alt="资质审核">
				<div class="flow-name">资质审核</div>
			</div>
			<img class="targ" src="/dist/img/agentAlliance/process.png" width="90" alt="乐贝通">
			<div class="item">
				<img src="/dist/img/agentAlliance/agreement.png" width="120" title="签署协议" alt="签署协议">
				<div class="flow-name">签署协议</div>
			</div>
			<img class="targ" src="/dist/img/agentAlliance/process.png" width="90" alt="乐贝通">
			<div class="item">
				<img src="/dist/img/agentAlliance/training.png" width="120" title="培训指导" alt="培训指导">
				<div class="flow-name">培训指导</div>
			</div>
		</div>
	</div>
	<!--尾部-->
	<% include ../../modules/footer.ejs %>
</body>

</html>