<% include ../../meta.ejs %>
<title>
	<%=title%>
</title>
</head>

<body>
	<!--头部-->
	<% include ../../modules/header.ejs %>
	<% include ../../modules/productNav.ejs %>
	<img src="/dist/img/school/tongyixuyua_banner.png" width="100%" />
	<!--课堂列表-->
	<div class="classroom-wrap clearfix">
		<div class="item">
			<div class="class-icon icon1"></div>
			<div class="details">
				<div class="title">园长课堂</div>
				<p>提供系统的园所管理，团队建设，招生服务类课程，阻力园所向更好地方向发展。</p>
			</div>
		</div>
		<div class="item">
			<div class="class-icon icon2"></div>
			<div class="details">
				<div class="title">老师课堂</div>
				<p>普及国内外先进教学理念，提供老师专业素养，提升师资教学水平。</p>
			</div>
		</div>
		<div class="item">
			<div class="class-icon icon3"></div>
			<div class="details">
				<div class="title">家长课堂</div>
				<p>提升家长育儿素养，解决因家庭教育不足引起的5+2=0问题。</p>
			</div>
		</div>
		<div class="item">
			<div class="class-icon icon4"></div>
			<div class="details">
				<div class="title">幼儿课堂</div>
				<p>启蒙教育，思维培训，感统教育，创造力引导，专注幼儿个性化成长教育。</p>
			</div>
		</div>
		<div class="item">
			<div class="class-icon icon5"></div>
			<div class="details">
				<div class="title">园所管理咨询服务</div>
				<p>每学期或学年向合作园所提供专家入园经营诊断服务，提出实质性改进方案，并辅助落地。</p>
			</div>
		</div>
	</div>
	<div class="teacher-list">
		<h2>汇聚一线大咖，百位名师走进万家园所</h2>
		<div class="deputy">百位业界名师入园,针对各区域合作幼儿园开展家长课堂、园长课堂及幼师课堂活动</div>
		<div class="teachers-scroll">
			<div class="banner banner2 teachers-info">
				<ul>
					<li class="clearfix">
						<div class="item">
							<img src="/dist/img/school/teacher_one.png" width="150" />
							<div class="introduce">
								全国优秀教师、河南省三八红旗手、河南省教育学院干训部兼职教授、现任河南省军区幼儿园荣誉园长
							</div>
						</div>
						<div class="item">
							<img src="/dist/img/school/teacher_two.png" width="150" />
							<div class="introduce">
								资深幼儿心理教育专家、萨提亚家庭治疗师、完形治疗师、人社部认证国家心理咨询师
							</div>
						</div>
						<div class="item">
							<img src="/dist/img/school/teacher_three.png" width="150" />
							<div class="introduce">
								驻马店广播电视台交通广播常务副总监《开心方向盘》《都市早新闻》等主持人
							</div>
						</div>
						<div class="item">
							<img src="/dist/img/school/teacher_four.png" width="150" />
							<div class="introduce">
								学前教育资深信息化专家,热衷推动学前教育信息化事业，被用户称为”乐爸”
							</div>
						</div>
						<div class="item">
							<img src="/dist/img/school/teacher_five.png" width="150" />
							<div class="introduce">
								东北师范大学学前教育专业,儿童心理咨询师，参编《有效父母》《第一人老师》等
							</div>
						</div>
					</li>
					<li class="clearfix">
						<div class="item">
							<img src="/dist/img/school/teacher_one.png" width="150" />
							<div class="introduce">
								全国优秀教师、河南省三八红旗手、河南省教育学院干训部兼职教授、现任河南省军区幼儿园荣誉园长
							</div>
						</div>
						<div class="item">
							<img src="/dist/img/school/teacher_two.png" width="150" />
							<div class="introduce">
								资深幼儿心理教育专家、萨提亚家庭治疗师、完形治疗师、人社部认证国家心理咨询师
							</div>
						</div>
						<div class="item">
							<img src="/dist/img/school/teacher_three.png" width="150" />
							<div class="introduce">
								驻马店广播电视台交通广播常务副总监《开心方向盘》《都市早新闻》等主持人
							</div>
						</div>
						<div class="item">
							<img src="/dist/img/school/teacher_four.png" width="150" />
							<div class="introduce">
								学前教育资深信息化专家,热衷推动学前教育信息化事业，被用户称为”乐爸”
							</div>
						</div>
						<div class="item">
							<img src="/dist/img/school/teacher_five.png" width="150" />
							<div class="introduce">
								东北师范大学学前教育专业,儿童心理咨询师，参编《有效父母》《第一人老师》等
							</div>
						</div>
					</li>
				</ul>
				<a href="javascript:void(0);" class="unslider-arrow prev"><img class="arrow" id="al" src="/dist/img/index/home_left_arrow.png" alt="prev" width="20" height="35"></a>
				<a href="javascript:void(0);" class="unslider-arrow next"><img class="arrow" id="ar" src="/dist/img/index/home_Right_arrow.png" alt="next" width="20" height="37"></a>
			</div>
		</div>
	</div>
	<div class="common bgF3" style="min-height: 350px;">
		<img class="recommend recommend-l0" src="/dist/img/school/bg_Certification.png" height="300" title="教职工专项技能培训及认证" alt="教职工专项技能培训及认证" />
		<div class="recommend recommend-r">
			<h2>教职工专项技能培训及认证</h2>
			<p>帮助园方实现人岗高度匹配，为幼儿园打造有竞争力的师资队伍</p>
			<ul class="serve-list clearfix">
				<li>幼儿园园长任职资格证</li>
				<li>保育员职业资格证书（三级、四级）</li>
				<li> 普通话等级证书（VIP直通车）</li>
				<li>幼儿园、小学教师资格证</li>
				<li>成人专本科学历教育</li>
				<li>人力资源管理师（VIP直通车）</li>
				<li>幼儿教师专项技能培训(奥尔夫/蒙台俊利/幼儿教师/舞蹈/音乐/手工/美术等)</li>
				<li>名园考察，跟岗学习</li>
			</ul>
		</div>
	</div>
	<div class="common">
		<div class="recommend recommend-l">
			<h2>线上名师课堂 随点随播</h2>
			<p>视频课件内容永久保存,支持随时随地点播回放,真正实现优质资源教育共享</p>
		</div>
		<img class="recommend recommend-r" src="/dist/img/school/Kindergarten_class.png" title="线上名师课堂 随点随播" alt="线上名师课堂 随点随播" />
	</div>
	<div class="common bgF3">
		<img class="recommend recommend-l" src="/dist/img/school/bedtime_story.png" title="睡前故事" alt="睡前故事"  />
		<div class="recommend recommend-16">
			<h2>睡前故事</h2>
			<p>涵盖健康、社会、语言、科学、艺术五大领域的睡前故事,每天不重样。</p>
			<p>系列故事分集播放，每天听一点，让孩子充满期待</p>
		</div>
	</div>
	<div class="common">
		<div class="recommend recommend-l">
			<h2>育儿社区</h2>
			<p>家园共育百科全书,专属于宝爸、宝妈和老师的育儿宝典</p>
		</div>
		<img class="recommend recommend-r" src="/dist/img/school/Parenting_communities.png" title="育儿社区" alt="育儿社区"   />
	</div>
	<!--尾部-->
	<% include ../../modules/footer.ejs %>
</body>
<script src="/vendors/unslider.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(e) {
		//老师轮播
		var banner2 = $('.banner2').unslider(),
			data2 = banner2.data('unslider');
		$('.unslider-arrow').click(function() {
			var fn = this.className.split(' ')[1];
			data2[fn]();
		});
	});
</script>

</html>