<% include ../../meta.ejs %>
<title>
	<%=title%>
</title>
</head>

<body>
	<!--头部-->
	<% include ../../modules/header.ejs %>
	<div class="news_nav">
		<ul>
			<li class="clearfix">
				<img class="cover-img" src="/dist/img/index/home_banner.png" width="250" height="160" title="忆童幼儿园|让幼儿园更幼儿园更卓越" align="忆童幼儿园|让幼儿园更幼儿园更卓越" />
				<div class="infos">
					<h2 class="ellipsis">忆童幼儿园|让幼儿园更幼儿园更卓越</h2>
					<div class="time">
						<span>2018-11-2</span>
						<a href="" title="忆童幼儿园|让幼儿园更幼儿园更卓越">查看全文</a>
					</div>
				</div>
			</li>
			<li class="clearfix">
				<img class="cover-img" src="/dist/img/index/home_banner.png" width="250" height="160" title="忆童幼儿园|让幼儿园更幼儿园更卓越" align="忆童幼儿园|让幼儿园更幼儿园更卓越" />
				<div class="infos">
					<h2 class="ellipsis">忆童幼儿园|让幼儿园更幼儿园更卓越</h2>
					<div class="time">
						<span>2018-11-2</span>
						<a href="" title="忆童幼儿园|让幼儿园更幼儿园更卓越">查看全文</a>
					</div>
				</div>
			</li>
			<li class="clearfix">
				<img class="cover-img" src="/dist/img/index/home_banner.png" width="250" height="160" title="忆童幼儿园|让幼儿园更幼儿园更卓越" align="忆童幼儿园|让幼儿园更幼儿园更卓越" />
				<div class="infos">
					<h2 class="ellipsis">忆童幼儿园|让幼儿园更幼儿园更卓越</h2>
					<div class="time">
						<span>2018-11-2</span>
						<a href="" title="忆童幼儿园|让幼儿园更幼儿园更卓越">查看全文</a>
					</div>
				</div>
			</li>
			
		</ul>
		<div class="change">
			<span>1</span>
			<span>2</span>
			<span>3</span>
			<span>4</span>
		</div>
	</div>
	<!--尾部-->
	<% include ../../modules/footer.ejs %>
</body>

</html>