<% include ../../meta.ejs %>
<title>
	<%=title%>
</title>
</head>

<body>
	<div class="enter-banner">
		<div class="log">
			<span class="logo"></span>
			<div class="username">
				<i></i>
				<input type="text" placeholder="用户名"/>
			</div>
			<div class="password">
				<i></i>
				<input type="text" placeholder="密码"/>
			</div>
			<span class="login">登录</span>
		</div>
	</div>
</body>

</html>