<% include ../../meta.ejs %>
<title>
	<%=title%>
</title>
</head>

<body>
	<!--头部-->
	<% include ../../modules/header.ejs %>
	<% include ../../modules/productNav.ejs %>
	<div class="common mange-banner01">
		<div class="recommend-t">
			<h2>实现园务办公信息化</h2>
			<p>助力园长管理园务，消除"园长忙，老师累，家长抱怨"的管理乱象</p>
		</div>
		<img class="park_banner_phone" src="/dist/img/product/classMange/park_banner_phone.png" title="实现园务办公信息化" alt="实现园务办公信息化" />
	</div>
	<div class="common">
		<div class="recommend recommend-l">
			<h2>幼儿电子档案</h2>
			<p>与<<全国学前教育学籍系统>>数据无缝对接，实现基础数据共享</p>
			<p>可进行数据实时信息推送，并支持批量导入导出</p>
		</div>
		<img class="recommend recommend-r" src="/dist/img/product/classMange/Child_files.png" title="幼儿电子档案" alt="幼儿电子档案" />
	</div>
	<div class="common bgF3">
		<img class="recommend recommend-l" src="/dist/img/product/classMange/Office_management.png" title="办公管理" alt="办公管理" />
		<div class="recommend recommend-r">
			<h2>办公管理</h2>
			<p>通知公告，工作计划，流程审批，信息化办公支撑园务实时处理</p>
		</div>
	</div>
	<div class="common">
		<div class="recommend recommend-l">
			<h2>考勤管理</h2>
			<p>可以实时查看，统计全国教职工和幼儿的出勤情况</p>
			<p>教职工考勤情况可作为绩效考核的重要依据</p>
		</div>
		<img class="recommend recommend-r" src="/dist/img/product/classMange/Attendance.png" title="考勤管理" alt="考勤管理" />
	</div>
	<div class="common bgF3">
		<img class="recommend recommend-l teacher-management" src="/dist/img/product/classMange/Teacher_management.png" title="师资管理" alt="师资管理"/>
		<div class="recommend recommend-16">
			<h2>师资管理</h2>
			<p>职务，角色，权限自定义分配，教职工档案同步采集</p>
		</div>
	</div>
	<div class="common">
		<div class="recommend recommend-l">
			<h2>园所缴费</h2>
			<p>童忆园携手支付宝教育缴费，让园所收费更快，更省，更安全</p>
			<p>1天收齐学费，全称0手续费，资金100%保障</p>
		</div>
		<img class="recommend recommend-r" src="/dist/img/product/classMange/park_fees.png" title="园所缴费" alt="园所缴费" />
	</div>
	<!--尾部-->
	<% include ../../modules/footer.ejs %>
</body>

</html>