<% include ../../meta.ejs %>
<title>
	<%=title%>
</title>
</head>

<body>
	<!--头部-->
	<% include ../../modules/header.ejs %>
	<% include ../../modules/productNav.ejs %>
	<div>
		<div class="recommend-t">
			<h2>让家长更放心，老师更省心</h2>
			<p>联动家庭及幼儿园两端，推动家园同步，确保3-6岁幼儿个性化健康成长</p>
		</div>
		<img src="/dist/img/product/interactiveHome/jiayuanhudong_banner.png" width="100%" title="让家长更放心，老师更省心" alt="让家长更放心，老师更省心"/>
	</div>
	<div class="common">
		<div class="recommend recommend-l">
			<h2>班级圈</h2>
			<p>老师可随时向家长共享宝宝动态，发布班级、园所活动、教学成果等信息</p>
			<p>提升园所美誉度，家长更放心</p>
		</div>
		<img class="recommend recommend-r" src="/dist/img/product/interactiveHome/class_circle.png" title="老师可随时向家长共享宝宝动态，发布班级、园所活动、教学成果等信息" alt="班级圈"/>
	</div>
	<div class="common bgF3">
		<img class="recommend recommend-l" src="/dist/img/product/interactiveHome/Class_notice.png" title="老师通过APP一键推送重要通知，家长同步接收，老师也可选择定时发送" alt="班级通知"/>
		<div class="recommend recommend-r">
			<h2>班级通知</h2>
			<p>老师通过APP一键推送重要通知，家长同步接收，老师也可选择定时发送</p>
			<p>管理更轻松</p>
		</div>
	</div>
	<div class="common">
		<div class="recommend recommend-l">
			<h2>作业食谱</h2>
			<p> APP端清晰发布作业食谱，让老师和家长彻底告别刷屏群聊</p>
			<p>让沟通更轻松、直接、简单</p>
		</div>
		<img class="recommend recommend-r" src="/dist/img/product/interactiveHome/Care_Reminder.png" title="APP端清晰发布作业食谱，让老师和家长彻底告别刷屏群聊" alt="作业食谱"/>
	</div>
	<div class="common bgF3">
		<img class="recommend recommend-l" src="/dist/img/product/interactiveHome/Tong_Yi_Live.png" title="教师通过APP对园所活动、家长会等进行直播，支持家长在线观看" alt="童忆直播"/>
		<div class="recommend recommend-r">
			<h2>童忆直播</h2>
			<p>教师通过APP对园所活动、家长会等进行直播，支持家长在线观看</p>
			<p>也可分享至微信、QQ等各大平台，扩大园所宣传效果</p>
		</div>
	</div>
	<div class="common">
		<div class="recommend recommend-l">
			<h2>班级相册</h2>
			<p>记录孩子美好时刻的“时光相机”，呈现教学成果</p>
			<p>展示师资团队优势及办学特色</p>
		</div>
		<img class="recommend recommend-r" src="/dist/img/product/interactiveHome/Class_Album.png" title="记录孩子美好时刻的“时光相机”，呈现教学成果" alt="班级相册"/>
	</div>
	<div class="common bgF3">
		<img class="recommend recommend-l" src="/dist/img/product/interactiveHome/Tongyi_Mall.png" alt="童忆学院"/>
		<div class="recommend recommend-r">
			<h2>童忆商城</h2>
			<p>小红花、贝豆在线兑换，幼儿成长所需，质优价廉一站购齐</p>
		</div>
	</div>

	<!--尾部-->
	<% include ../../modules/footer.ejs %>
</body>

</html>