<% include ../../meta.ejs %>
<title>
	<%=title%>
</title>
</head>

<body>
	<!--头部-->
	<% include ../../modules/header.ejs %>
	<% include ../../modules/productNav.ejs %>
	<div class="rec-banner">
		<div class="recommend-t recommend-pos">
			<h2>助理新学年招生”全面开挂”</h2>
			<p>提升幼儿园形象,扩大园所知名度,助其获得源源不断的生源</p>
		</div>
		<img src="/dist/img/product/recruitStudent/propagate_banner.png" width="100%" title="提升幼儿园形象,扩大园所知名度,助其获得源源不断的生源" alt="助理新学年招生”全面开挂”" />
	</div>
	<div class="common">
		<div class="recommend recommend-l">
			<h2>招生助手</h2>
			<p>多种预设模板,招生海报一键生成,为幼儿园开通线上招生渠道</p>
			<p>辐射范围更广</p>
			<div class="code-wrap">
				<img src="/dist/img/product/recruitStudent/code_tongyizhushou.png" width="140" height="140" title="童忆助手二维码" alt="童忆助手二维码" />
				<img src="/dist/img/product/recruitStudent/code_Min_program.png" width="140" height="140" title="小程序二维码" alt="小程序二维码" />
			</div>
		</div>
		<img class="recommend recommend-r" src="/dist/img/product/recruitStudent/Admissions_Assistant.png" title="多种预设模板,招生海报一键生成,为幼儿园开通线上招生渠道" alt="招生助手" />
	</div>
	<div class="common bgF3">
		<img class="recommend recommend-l" src="/dist/img/product/recruitStudent/bg_propagate_student.png" title="园所定制化专属官方微网站,展示园所简介、园所新闻、特色教育、师资团队等" alt="园所微站/门户" />
		<div class="recommend recommend-r">
			<h2>园所微站/门户</h2>
			<p>园所定制化专属官方微网站,展示园所简介、园所新闻、特色教育、师资团队等</p>
			<p>展现园所实力</p>
			<img src="/dist/img/product/recruitStudent/code_Microstation.png" width="140" height="140" alt="二维码" />
		</div>
	</div>
	<div class="common">
		<div class="recommend recommend-l">
			<h2>小程序定制</h2>
			<p>针对幼儿园的宣传需求,量身定制微信小程序,为幼儿园打开流量红利入口</p>
			<img src="/dist/img/product/recruitStudent/yuxin_mini_code.png" width="140" height="140" alt="宇信科技" />
		</div>
		<img class="recommend recommend-r" src="/dist/img/product/recruitStudent/yuxin_xiaochengxu.png" title="针对幼儿园的宣传需求,量身定制微信小程序,为幼儿园打开流量红利入口" alt="小程序定制" />
	</div>
	<!--尾部-->
	<% include ../../modules/footer.ejs %>
</body>

</html>