<% include ../../meta.ejs %>
<title>
	<%=title%>
</title>
</head>

<body>
	<!--头部-->
	<% include ../../modules/header.ejs %>
	<% include ../../modules/productNav.ejs %>
	<div class="rec-banner">
		<div class="recommend safety-pos">
			<h2>360度守护宝宝健康安全成长</h2>
			<p>守护孩子从  “离家——>入园——>在园——>出园——>到家” 每一刻的健康与安全</p>
		</div>
		<img src="/dist/img/product/safety/Safety_ health_banner.png" width="100%" title="守护孩子从  “离家——>入园——>在园——>出园——>到家” 每一刻的健康与安全" alt="360度守护宝宝健康安全成长"/>
	</div>
	<div class="common">
		<div class="recommend recommend-l">
			<div class="step">第1道防护</div>
			<h2>安全门禁-<span class="base-color">日常管理有保障</span></h2>
			<p>实时共享宝宝动态，发布班级，园所活动，教学成果等信息</p>
			<p>提升园所美誉度，家长更放心</p>
		</div>
		<img class="recommend recommend-r" src="/dist/img/product/safety/Security_access.png" title="实时共享宝宝动态，发布班级，园所活动，教学成果等信息" alt="第1道防护"/>
	</div>
	<div class="common bgF3">
		<img class="recommend recommend-l" src="/dist/img/product/safety/Parent_Window.png" title="园所与家长共享监控影像,实现集团对各园所监控子系统对接,意外事件及时处理" alt="第2道防护"/>
		<div class="recommend recommend-r">
			<div class="step">第2道防护</div>
			<h2>亲子视窗-<span class="base-color">随时调取宝宝动态</span></h2>
			<p>园所与家长共享监控影像,实现集团对各园所监控子系统对接,意外事件及时处理、</p>
			<p>远程调度指挥</p>
		</div>
	</div>
	<div class="common">
		<div class="recommend recommend-l">
			<div class="step">第3道防护</div>
			<h2>安全排查-<span class="base-color">重点防控消除隐患</span></h2>
			<p>提示并消除高风险、高频发隐患源,重点防控,并将安全数据发送给家长</p>
			<p>让家长对孩子在园更放心</p>
		</div>
		<img class="recommend recommend-r" src="/dist/img/product/safety/Security_clearance.png" title="提示并消除高风险、高频发隐患源,重点防控,并将安全数据发送给家长" alt="第3道防护"/>
	</div>
	<div class="common bgF3">
		<img class="recommend recommend-l" src="/dist/img/product/safety/Qingxin_Home.png" title="快速过滤PM2.5和有害物质、杀菌消毒、避免疾病交叉感染,PM2.5实时数据显示,APP远程" alt="第4道防护"/>
		<div class="recommend recommend-r">
			<div class="step">第4道防护</div>
			<h2>清馨家园-<span class="base-color">让宝宝呼吸健康空气</span></h2>
			<p>快速过滤PM2.5和有害物质、杀菌消毒、避免疾病交叉感染,PM2.5实时数据显示,APP远程</p>
			<p>控制,家长可通过童忆园APP随时查看</p>
		</div>
	</div>
	<div class="common">
		<div class="recommend recommend-l">
			<div class="step">第5道防护</div>
			<h2>智能净水-<span class="base-color">让宝宝喝上健康水</span></h2>
			<p>五重水质过滤,40度智能物理降温,改善口感,让宝宝养成喝水的好习惯</p>
		</div>
		<img class="recommend recommend-r" src="/dist/img/product/safety/Smart_water_purification.png" title="五重水质过滤,40度智能物理降温,改善口感,让宝宝养成喝水的好习惯" alt="第5道防护"/>
	</div>
	<div class="common bgF3">
		<img class="recommend recommend-l" src="/dist/img/product/safety/smart_bus.png" title="与门禁系统数据同步,具有接送抓拍、GPS行车轨迹追踪、校车异常预警等功能" alt="第6道防护"/>
		<div class="recommend recommend-r" style="right: 6%;">
		<div class="step">第6道防护</div>
			<h2>智能校车-<span class="base-color">安全无遗漏</span></h2>
			<p>与门禁系统数据同步,具有接送抓拍、GPS行车轨迹追踪、校车异常预警等功能</p>
			<p>保障宝宝出行安全</p>
		</div>
	</div>
	<div class="common">
		<div class="recommend recommend-l">
			<div class="step">第7道防护</div>
			<h2>健康管理-<span class="base-color">全方位数据跟踪</span></h2>
			<p>智能晨检，体检报告，喂药管理，成长测评等数据采集，自动生成</p>
			<p>幼儿体检报告，数据随时调用，为幼儿成长护航</p>
		</div>
		<img class="recommend recommend-r" src="/dist/img/product/safety/Health_management.png" title="智能晨检，体检报告，喂药管理，成长测评等数据采集，自动生成" alt="第7道防护"/>
	</div>

	<!--尾部-->
	<% include ../../modules/footer.ejs %>
</body>

</html>