<% include ../../meta.ejs %>
<title>
	<%=title%>
</title>
</head>

<body>
	<!--头部-->
	<% include ../../modules/header.ejs %>
	<div class="us-banner">
		<h3 class="title">致力于成为学期教育服务领跑者</h3>
		<img src="/dist/img/aboutUs/about_us_banner.png" width="100%" title="致力于成为学期教育服务领跑者" alt="致力于成为学期教育服务领跑者" />
	</div>
	<div class="wrap clearfix">
		<div class="we-who">
			<h2>我们是谁</h2>
			<p> 河南宇信通讯科技有限公司成立于2006年，注册资金1000万元，是一家专注从事集“互联网+”学前教育创新体系研究、创新主体研发、创新软硬件推广普及服务于一体的学前教育信息化整体解决。公司以“诚信、团结、务实、发展”为核心价值观，已深耕学前教育服务十余年，目前在职员工200余人，有自己的研发团队、运营团队、客户服务团队，公司实力强大。</p>
			<p>童忆园，是宇信科技自主设计、研发、运营的智慧校园云平台，专门为幼儿园提供数字校园建设、知识校园建设、品牌校园建设一体化解决方案。即通过软硬件服务帮助幼儿园实现智能化管理、树立高端园所形象，同时深挖家园互动领域痛点，真正做到让园长、老师省心，让家长更放心。截止2018年10月，童忆园服务的幼儿园已经遍布河南18地市，服务幼儿园达3千余所、平台注册幼师用户达4万余位，平台注册幼儿家长用户达60万，服务的幼儿园数占河南省幼儿园总数将近15%，通过优质的产品和服务，近两年，童忆园积累了良好的市场口碑，与同行业相比，优势也愈加突出。</p>
		</div>
		<div class="img-wrap">
			<div class="item img1">
				<img src="/dist/img/aboutUs/values.png" width="121" height="140" title="成为学期教育行业领跑者" alt="成为学期教育行业领跑者" />
				<div class="hook hide">
					<div class="describe">成为学期教育行业领跑者</div>
					<span class="triangle"></span>
				</div>
			</div>
			<div class="item img2">
				<img src="/dist/img/aboutUs/position.png" width="121" height="140" title="成为学期教育行业领跑者" alt="成为学期教育行业领跑者" />
				<div class="hook hide">
					<div class="describe">成为学期教育行业领跑者</div>
					<span class="triangle"></span>
				</div>
			</div>
			<div class="item img3">
				<img src="/dist/img/aboutUs/aim.png" width="121" height="140" title="成为学期教育行业领跑者" alt="成为学期教育行业领跑者" />
				<div class="hook hide">
					<div class="describe">成为学期教育行业领跑者</div>
					<span class="triangle"></span>
				</div>
			</div>
			<div class="item img4">
				<img src="/dist/img/aboutUs/mission.png" width="121" height="140" title="成为学期教育行业领跑者" alt="成为学期教育行业领跑者"/>
				<div class="hook hide">
					<div class="describe">成为学期教育行业领跑者</div>
					<span class="triangle"></span>
				</div>
			</div>
			<div class="item img5">
				<img src="/dist/img/aboutUs/Service_philosophy.png" width="121" height="140" title="成为学期教育行业领跑者" alt="成为学期教育行业领跑者" />
				<div class="hook hide">
					<div class="describe">成为学期教育行业领跑者</div>
					<span class="triangle"></span>
				</div>
			</div>
			<div class="item img6">
				<img src="/dist/img/aboutUs/vision.png" width="121" height="140" title="成为学期教育行业领跑者" alt="成为学期教育行业领跑者" />
				<div class="hook hide">
					<div class="describe">成为学期教育行业领跑者</div>
					<span class="triangle"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="wrap clearfix">
		<div class="img-wrap img-wrap2">
			<div class="outer outer1">
				<div class="inner inner1">定位</div>
			</div>
			<div class="outer outer2">
				<div class="inner inner2">使命</div>
			</div>
			<div class="outer outer3">
				<div class="inner inner3">愿景</div>
			</div>
		</div>
		<div class="about-tyxy">
			<h2 class="tr">关于童忆学院</h2>
			<p> 童忆学院是童忆园旗下幼儿教育领域知识共享平台、创新型共育平台。以聚合专家学者、培训师资、培训机构等资源，搭建的集“亲、子、师、园、专家”五位于一体的线上线下学习平台。</p>
			<p>童忆学院由童忆园联合业界百位专家于2016年6月1日正式成立，通过开展线上线下课堂，为园长、老师、家长、幼儿，提供父母课堂、园长学院、专家专栏、师资培训、延伸教育等多板块深度融合实用课程及内容，帮助园长提升办园水平，帮助老师和家长提升育儿素养，使家庭教育与幼儿园教育更好的相互配合，让园区管理者、老师、家长和孩子一同成长。</p>
		</div>
	</div>
	<div class="wrap clearfix">
		<h2>吉祥物文华</h2>
		<div class="yaya-head">
			<img src="/dist/img/aboutUs/tongyong.png" width="340" title="哥哥-童童" alt="哥哥-童童" />
			<img class="hide" src="/dist/img/aboutUs/yuanyuan.png" width="340" title="妹妹-园园" alt="妹妹-园园"  />
		</div>
		<div class="yaya-info">
			<div class="change-btn">
				<span class="btn">哥哥-童童</span>
				<span class="btn meimei">妹妹-园园</span>
			</div>
			<div class="item-info">
				<p>介绍：童忆园家的“长子”，园园的哥哥，永远5岁，幼儿园大哥级的灵魂人物。以爱护幼小为荣，以欺凌同学为耻，德智体全面发展，兴趣广泛，会弹琴、爱跳舞、能踢球……混迹幼儿园多年，深得老师疼、同学爱、家长们认可的园草级暖男。</p>
				<div class="info">
					<span class="item">性别：男</span>
					<span class="item">星座：巨蟹座</span>
					<span class="item">年龄：永远5岁</span>
					<span class="item">理想：保护妹妹园园</span>
				</div>
				<div class="info">
					<span class="item">家长：童忆园</span>
					<span class="item">标签：暖男、园草、十项全能、兴趣广泛、爱妹妹</span>
				</div>
				<img src="/dist/img/aboutUs/tongtong_biaoqingbao.png" width="550"/>
			</div>
			<div class="item-info hide">
				<p>介绍：童童的妹妹，永远3岁半，幼儿园的小班生。个性开朗，天然呆、对哥哥有中度依赖，爱吃彩虹棒棒糖。性格多重随性，爱美、聪明、搞怪、喜欢发呆，看似呆萌乖巧却又像精灵一样讨人喜欢。虽然年纪小，但很有想法，遇到事情有着与常人迥异的思维回路。</p>
				<div class="info">
					<span class="item">性别：女</span>
					<span class="item">星座：狮子座</span>
				</div>
				<div class="info">
					<span class="item">年龄：永远3岁半</span>
					<span class="item">理想：收集很多很多小红花</span>
				</div>
				<div class="info">
					<span class="item">家长：童忆园</span>
					<span class="item">标签：个性开朗、天然呆、思维回路迥异</span>
				</div>
				<img src="/dist/img/aboutUs/yuanyuan_baioqingbap.png" width="549"/>
			</div>
		</div>
	</div>
	<div class="wrap">
		<h2 class="tr">童忆园印记</h2>
        <img src="/dist/img/aboutUs/about_us_tongyiyinji.png" width="958" class="course" title="童忆园印记" alt="童忆园印记" />
	</div>
	<!--尾部-->
	<% include ../../modules/footer.ejs %>
	<script type="text/javascript">
		$(function(){
			$(".change-btn .btn").hover(function(){
				var _index=$(this).index();
				$(".yaya-head img").eq(_index).removeClass("hide").siblings().addClass("hide");
				$(".yaya-info .item-info").eq(_index).removeClass("hide").siblings(".item-info").addClass("hide");
			},function(){
				
			})
		})
	</script>
</body>

</html>